.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
